@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

/* .w-150px{
    width: 150px !important;
} */
.scroll-x-hidden::-webkit-scrollbar{
    display: none;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.postShadow{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}